/*
primaria= #50255A
acento= #2fc01c
neutro= white
*/

* {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

button {
  background-color: #b3b9b7;
  color: #50255a;
  font: inherit;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  height: 40px;
}

input {
  background-color: #d6d6d6;
  height: 36px;
  border-radius: 10px;
  font-size: 18px;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #000000;
  background-color: white;

  & header {
    padding: 14px;
    background-color: #50255A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

    & h1{
      flex: 0 0 auto;
      color: white;
    }

    & input {
      flex: 1 1 240px;
    }

    & button {
      border-radius: 10px;
      color: white;
      background-color: #2fc01c;
    }
  }

  & nav {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 24px;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;

    & button{
      color: #731963;
      padding: 6px 14px;
      background: #E5E8E7;
      width: auto;
      border: 1px solid #731963;

      &.ativo{
        background: #731963;
        color: white;
      }
    }
  }

  & main {

    & .sr-only {
      color: #000000;
      padding: 16px;
      text-align: center;
      font-size: 30px;
      font-weight: 800;
      word-spacing: 4px;
    }

    & #lista{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
   
      padding: 16px 24px;
    }

    section {
      padding: 10px;
      gap: 18px;

      article {
        background: linear-gradient(#731963, #2f223d); 
        color: white;
        border-radius: 8px;
        padding: 8px;
        width: 220px;
        border: 1px solid #dddddd53;
        box-shadow: 0 1px 4px #0002;
      
        &.card {
          display: flex;
          flex-direction: column;
          gap: 6px;
          padding: 16px;
          border-radius: 10px;
          top: 10px;
          bottom: 10px;

          .acoes{
            margin-top: auto;
            display: flex; 
            gap: 8px;
            align-self: center;
          }

          h2{
          text-align: center;
          margin-top: 8px;
          margin-bottom: 8px;

          }

          img{
            margin-top: 6px;
          }

          p {
            color: #b9b0b0;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 8px;
          }

          span {
            margin-top: 2px;
            gap: 4px; 
            padding: 10px;
            font-size: 15px;
          }

          button {
            width: 70px;
            height: 34px;
            background-color: white;
            font-size: 11px;
          }
        }
        
      }
    }
  }

  & footer {
    align-items: center;
    
    & small {
      color: #000000;
    }

    & a {
      color: #2fc01c;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-decoration-line: none;
      border-radius: 20px;
      margin-left: 50%;
      margin-right: 50%;
      display: flex;
      flex-direction: row;
      width: 200px;
      padding: 18px;
    }
  }
}
